
@model EvoWebsite.ViewsModels.EditOrderVM;
<div class="bg-form">
    <div class="container h-100 form-overlay">
        <div class="form-title">MODIFICATION D'UNE COMMANDE</div>
        @using (Html.BeginForm("EditOrderFinal", "Order", FormMethod.Post))
        {
            <div class="form-main">
                <div class="form-group">
                    <label for="name" class="form-input-title">ID</label>
                    @Html.TextBoxFor(m => m.OrderId, "", new { @type = "text", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="name" class="form-input-title">Prénom et Nom</label>
                    @Html.TextBoxFor(m => m.ClientName, "", new { @type = "text", @class = "form-control", @required = "" })
                    <small id="nameHelp" class="form-text text-muted">Ex: Nathaniel Wayne</small>
                </div>
                <div class="form-group">
                    <label for="telephone" class="form-input-title">Numéro de téléphone</label>
                    @Html.TextBoxFor(m => m.Telephone, "", new { @type = "tel", @class = "form-control", @pattern = "[0-9]{7}" })
                    <small id="telHelp" class="form-text text-muted">Ex: 2394265</small>
                </div>
                <div class="form-group">
                    <label for="car" class="form-input-title">Marque et modèle</label>
                    @Html.TextBoxFor(m => m.CarName, "", new { @type = "text", @class = "form-control", @required = "" })

                    <small id="carHelp" class="form-text text-muted">Ex: Elegy Retro Custom</small>
                </div>
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary">Modifier</button>
            </div>
        }
    </div>
</div>